<% provide(:title, "ЛОР-БОЛЕЗНИ, РИНОПЛАСТИКА, ПЛАСТИЧЕСКАЯ ХИРУРГИЯ") %>
<div class="container">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Мы входим в первую десятку лучших клиник России!</h2>
        <br>
        <p>В ЛОР КЛИНИКЕ производятся все типичные хирургические вмешательства при ЛОР - патологии, а также многие операции, относящиеся к категории повышенной сложности (микрохирургия уха, стапедопластика, эндоскопическая хирургия, лазерная хирургия и др).</p>
        <p>В отделении пластической хирургии выполняются более 30 видов пластических операций на лице и шее, а также липосакция, пластика груди, абдоминопластика и другие.</p>
        <p class="imgprino"><%= image_tag "4.jpg", class: "img-responsive imgd" %></p>     
        <p>С 2000 года после приобретения эндоскопической техники мы внедрили в повседневную практику эндоназальные хирургические вмешательства на околоносовых пазухах. При этом опыт работы с бормашиной и наличие эндоскопов позволили быстро освоить операцию, которая, казалось бы, не входит в компетенцию оториноларингологов, а именно – эндоназальную дакриоцисториностомию.</p>
        <p>Практически нет такого раздела оперативной оториноларингологии, в котором мы не достигли бы определенных результатов.</p>
        <p class="imgprino"><%= image_tag "1.jpg", class: "img-responsive imgd" %></p>
        <p>В двух больших операционных ежедневно выполняется до 20 операций.</p>
        <p class="imgprino"><%= image_tag "6.jpg", class: "img-responsive imgd" %></p>
        <p>Операционные микроскопы позволяют проводить ювелирные операции по восстановлению барабанной перепонки и слуховых косточек.</p>
        <p class="imgprino"><%= image_tag "3.jpg", class: "img-responsive imgd" %></p>
        <p>Два штатных анестезиолога обеспечены новейшими наркозными аппаратами и владеют современными методиками безопасного наркоза.</p>
        <p class="imgprino"><%= image_tag "2.jpg", class: "img-responsive imgd" %></p>
        <p>ЛОР центр является основной базой кафедры ЛОР-болезней Кубанского государственного медицинского университета. На фотографии – профессор и преподаватели кафедры.</p>
        <p class="imgprino"><%= image_tag "5.jpg", class: "img-responsive imgd" %></p>
        <p>В 2007 году клиника приобрела операционный микроскоп нового поколения, дающий хирургу небывалую ранее свободу манипуляций в самых труднодоступных участках среднего уха, полости носа или голосовых складок. Это третий по счету операционный микроскоп в клинике.</p>
        <p>Новым направлением деятельности ЛОР центра являются реконструктивные операции на гортани. Наши врачи прошли стажировку в Москве на базе МОНИКи и сейчас успешно проводят операции больным с хроническими стенозами гортани и верхнего отдела трахеи.</p>      
      </div>  
    </div>     
  
</div>