<% provide(:title, "Врачи клиники") %>
<div class="container">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-4 col-sm-6 col-xs-12 doctor">     
      <p class="imgp"><%= image_tag "semenov.png", class: "imgd" %></p>
      <h3>СЕМЕНОВ Федор Вячеславович</h3>
      <br>
      <p class="italicp">Доктор медицинских наук, профессор, врач высшей квалификационной категории.</p>
      <p class="imgp"><a href="/doctor/semenov" class="btn btn-clear" role="button">Подробнее</a></p>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 doctor">     
      <p class="imgp"><%= image_tag "volik.jpg", class: "imgd" %></p>
      <h3>ВОЛИК Анатолий Константинович</h3>
      <br>
      <p class="italicp">Кандидат медицинских наук, врач высшей квалификационной категории</p>
      <p class="imgp"><a href="#" class="btn btn-clear" role="button">Подробнее</a></p>
    </div>
     
    <div class="col-md-4 col-sm-6 col-xs-12 doctor">     
      <p class="imgp"><%= image_tag "gorbonosov.png", class: "imgd" %></p>
      <h3>ГОРБОНОСОВ Игорь Валентинович</h3>
      <br>
      <p class="italicp">Кандидат медицинских наук, врач высшей квалификационной категории</p>
      <p class="imgp"><a href="/doctor/gorbonosov" class="btn btn-clear" role="button">Подробнее</a></p>
    </div>
  </div> 

  <hr>

  <div class="col-md-12 col-sm-12 col-xs-12 divbase">
    <div class="col-md-4 col-sm-6 col-xs-12 doctor">     
      <p class="imgp"><%= image_tag "semenov.png", class: "imgd" %></p>
      <h3>СЕМЕНОВ Федор Вячеславович</h3>
      <br>
      <p class="italicp">Доктор медицинских наук, профессор, врач высшей квалификационной категории.</p>
      <p class="imgp"><a href="/doctor/semenov" class="btn btn-clear" role="button">Подробнее</a></p>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12 doctor">     
      <p class="imgp"><%= image_tag "volik.jpg", class: "imgd" %></p>
      <h3>ВОЛИК Анатолий Константинович</h3>
      <br>
      <p class="italicp">Кандидат медицинских наук, врач высшей квалификационной категории</p>
      <p class="imgp"><a href="#" class="btn btn-clear" role="button">Подробнее</a></p>
    </div>
     
    <div class="col-md-4 col-sm-6 col-xs-12 doctor">     
      <p class="imgp"><%= image_tag "gorbonosov.png", class: "imgd" %></p>
      <h3>ГОРБОНОСОВ Игорь Валентинович</h3>
      <br>
      <p class="italicp">Кандидат медицинских наук, врач высшей квалификационной категории</p>
      <p class="imgp"><a href="/doctor/gorbonosov" class="btn btn-clear" role="button">Подробнее</a></p>
    </div>
  </div> 

</div>
