<% provide(:title, 'Фасадные термопанели, утепление: фото наших работ') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, '') %>

<div class="container">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Фотографии выполненных работ</h2>
        <br>
        
        <h3>Фасадные термопанели (клинкерная плитка и пенополиуретан)</h3>
        <p style="text-align:center;"><%= link_to image_tag("house 1.jpg", alt: "HOUSE 1", class: "imgd", style: "max-height: 250px;"), '/images/house 1.jpg', target: "_blank" %> <%= link_to image_tag("house 2.jpg", alt: "HOUSE 2", class: "imgd", style: "max-height: 250px;"), '/images/house 2.jpg', target: "_blank" %> <%= link_to image_tag("house 3.jpg", alt: "HOUSE 3", class: "imgd", style: "max-height: 250px;"), '/images/house 3.jpg', target: "_blank" %></p>
        
      <p style="text-align:center;"><%= link_to image_tag("house 4.jpg", alt: "HOUSE 4", class: "imgd", style: "max-height: 250px;"), '/images/house 4.jpg', target: "_blank" %> <%= link_to image_tag("house 5.jpg", alt: "HOUSE 5", class: "imgd", style: "max-height: 250px;"), '/images/house 5.jpg', target: "_blank" %></p>
        
      <p style="text-align:center;"><%= link_to image_tag("house 6.jpg", alt: "HOUSE 6", class: "imgd", style: "max-height: 250px;"), '/images/house 6.jpg', target: "_blank" %> <%= link_to image_tag("house 7.jpg", alt: "HOUSE 7", class: "imgd", style: "max-height: 250px;"), '/images/house 7.jpg', target: "_blank" %> <%= link_to image_tag("wall.jpg", alt: "WALL", class: "imgd", style: "max-height: 250px;"), '/images/wall.jpg', target: "_blank" %></p>

      <p style="text-align:center;"><%= link_to image_tag("house 8.jpg", alt: "HOUSE 1", class: "imgd", style: "max-height: 250px;"), '/images/house 8.jpg', target: "_blank" %> <%= link_to image_tag("house 9.jpg", alt: "HOUSE 2", class: "imgd", style: "max-height: 250px;"), '/images/house 9.jpg', target: "_blank" %></p>

      <hr>

      <h3>Утепление/теплоизоляция пеноизолом</h3>
      <p style="text-align:center;"><%= link_to image_tag("pi 1.jpg", alt: "PI 1", class: "imgd", style: "max-height: 300px;"), '/images/pi 1.jpg', target: "_blank" %> <%= link_to image_tag("pi 2.jpg", alt: "PI 2", class: "imgd", style: "max-height: 300px;"), '/images/pi 2.jpg', target: "_blank" %></p>

      <hr>

      <h3>Утепление/теплоизоляция пенополиуретаном</h3>
      <p style="text-align:center;"><%= link_to image_tag("ppu 1.jpg", alt: "PPU 1", class: "imgd", style: "max-height: 250px;"), '/images/ppu 1.jpg', target: "_blank" %> <%= link_to image_tag("ppu 2.jpg", alt: "PPU 2", class: "imgd", style: "max-height: 250px;"), '/images/ppu 2.jpg', target: "_blank" %> <%= link_to image_tag("ppu 3.jpg", alt: "PPU 3", class: "imgd", style: "max-height: 250px;"), '/images/ppu 3.jpg', target: "_blank" %></p>
      <p style="text-align:center;"><%= link_to image_tag("oil_box.jpg", alt: "OIL_BOX", class: "imgd", style: "max-height: 250px;"), '/images/oil_box.jpg', target: "_blank" %></p>

      </div>  
    </div>     
  
</div>