<% provide(:title, "Стоимость услуг") %>
<div class="container">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Прайс-лист</h2>
    <p class="italicpbl">Обновление цен от 09.01.2014</p>
    <dl id="accordion" class="ident-bot-34">
      
      <dt class="active border-none"><strong class="s">Слухоулучшающие и слухосохраняющие операции</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">А-1</td>
                <td class="tdspan">Иссечение парааурикулярного свища</td>
                <td class="tdcenter tdspanp">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-2</td>
                <td class="tdspan">Иссечение рубцовой атрезии наружного слухового прохода, его пластика</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-3</td>
                <td class="tdspan">Лазерная тимпаностомия</td>
                <td class="tdcenter tdspanp">8 200</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-4</td>
                <td class="tdspan">Лазерная тимпаностомия с использованием титанового шунта</td>
                <td class="tdcenter tdspanp">12 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-5</td>
                <td class="tdspan">Санирующая операция на среднем ухе с тимпанопластикой</td>
                <td class="tdcenter tdspanp">45 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-6</td>
                <td class="tdspan">Поршневая стапедопластика (отосклероз)</td>
                <td class="tdcenter tdspanp">37 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-7</td>
                <td class="tdspan">Раздельная аттикоантротомия с тимпанопластикой</td>
                <td class="tdcenter tdspanp">57 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-8</td>
                <td class="tdspan">Реоперация на среднем ухе</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-9</td>
                <td class="tdspan">Лазерная коагуляция неэпителизированных участков полости после РО (1 сторона)</td>
                <td class="tdcenter tdspanp">4 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-10</td>
                <td class="tdspan">Лазерная тимпаностомия (два уха)</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">А-11</td>
                <td class="tdspan">Удаление новообразования слухового прохода</td>
                <td class="tdcenter tdspanp">24 000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
      
      <dt class="border-none"><strong class="s">Пластические операции на носу и ушах</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">Б-1</td>
                <td class="tdspan">Пластика ушных раковин (одно ухо)</td>
                <td class="tdcenter tdspanp">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-2</td>
                <td class="tdspan">Пластика ушных раковин (оба уха)</td>
                <td class="tdcenter tdspanp">37 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-3</td>
                <td class="tdspan">Удаление келоидного рубца ушной раковины</td>
                <td class="tdcenter tdspanp">16 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-4</td>
                <td class="tdspan">Пластика мочки ушной раковины (одно ухо)</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-5</td>
                <td class="tdspan">Пластика мочки ушной раковины (оба уха)</td>
                <td class="tdcenter tdspanp">20 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-6</td>
                <td class="tdspan">Удаление горбинки носа без остеотомии</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-7</td>
                <td class="tdspan">Удаление горбинки носа с остеотомией</td>
                <td class="tdcenter tdspanp">40 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-8</td>
                <td class="tdspan">Редрессация костей носа без остеотомии</td>
                <td class="tdcenter tdspanp">26 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-9</td>
                <td class="tdspan">Редрессация костей носа с остеотомией</td>
                <td class="tdcenter tdspanp">40 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-10</td>
                <td class="tdspan">Коррекция кончика носа открытым доступом</td>
                <td class="tdcenter tdspanp">45 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-11</td>
                <td class="tdspan">Реконструктивная ринопластика</td>
                <td class="tdcenter tdspanp">57 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-12</td>
                <td class="tdspan">Полная коррекция носа</td>
                <td class="tdcenter tdspanp">78 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-13</td>
                <td class="tdspan">Взятие реберного хряща для трансплантации</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-14</td>
                <td class="tdspan">Удаление ринофимы</td>
                <td class="tdcenter tdspanp">20 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-15</td>
                <td class="tdspan">Замещение дефектов головы и шеи конструкциями из титана</td>
                <td class="tdcenter tdspanp">51 900</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-16</td>
                <td class="tdspan">Установка силиконового имплантата</td>
                <td class="tdcenter tdspanp">6 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-17</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (одно ухо), этап 1: установка имплантата</td>
                <td class="tdcenter tdspanp">240 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-18</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (одно ухо), этап 2: моделирование наружного уха</td>
                <td class="tdcenter tdspanp">54 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-19</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (два уха), этап 1: установка имплантата</td>
                <td class="tdcenter tdspanp">350 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-20</td>
                <td class="tdspan">Реконструкция наружного уха по технологии Vistafix (два уха), этап 2: моделирование наружного уха</td>
                <td class="tdcenter tdspanp">74 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Б-21</td>
                <td class="tdspan">Изготовление силиконовых протезов без имплантов</td>
                <td class="tdcenter tdspanp">30 000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>

      <dt class="border-none"><strong class="s">Операции в полости носа и околоносовых пазух</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">В-1</td>
                <td class="tdspan">Радикальная операция на верхнечелюстной  пазухе</td>
                <td class="tdcenter tdspanp">13 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-2</td>
                <td class="tdspan">Фронтотомия наружным доступом</td>
                <td class="tdcenter tdspanp">31 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-3</td>
                <td class="tdspan">Резекция носовых раковин при гипертрофическом рините</td>
                <td class="tdcenter tdspanp">11 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-3/1</td>
                <td class="tdspan">Подслизистая вазотомия нижних носовых раковин</td>
                <td class="tdcenter tdspanp">13 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-4</td>
                <td class="tdspan">Подслизистая коррекция носовой перегородки</td>
                <td class="tdcenter tdspanp">15 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-5</td>
                <td class="tdspan">Подслизистая коррекция носовой перегородки с реимплантацией хряща (септопластика)</td>
                <td class="tdcenter tdspanp">20 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-6</td>
                <td class="tdspan">Подслизистая коррекция носовой перегородки с реконструкцией колумеллы и реимплантацией хряща (реконструктивная септопластика)</td>
                <td class="tdcenter tdspanp">27 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-7</td>
                <td class="tdspan">Удаление полипов носовых ходов</td>
                <td class="tdcenter tdspanp">13 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-8</td>
                <td class="tdspan">Удаление полипов носовых ходов с использованием видеоэндоскопического оборудования (эндоскопическая полипотомия)</td>
                <td class="tdcenter tdspanp">18 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-9</td>
                <td class="tdspan">Гайморотомия экстраназальная (одна сторона)</td>
                <td class="tdcenter tdspanp">12 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-10</td>
                <td class="tdspan">Гайморотомия экстраназальная (две стороны)</td>
                <td class="tdcenter tdspanp">17 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-11</td>
                <td class="tdspan">Гайморотомия с использованием видеоэндоскопической техники (эндоскопическая гайморотомия) одна сторона</td>
                <td class="tdcenter tdspanp">18 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-12</td>
                <td class="tdspan">Гайморотомия с использованием видеоэндоскопической техники (эндоскопическая гайморотомия) две стороны</td>
                <td class="tdcenter tdspanp">28 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-13</td>
                <td class="tdspan">Сфеноидотомия с использованием эндоскопической техники (эндоскопическая сфеноидотомия)</td>
                <td class="tdcenter tdspanp">25 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-14</td>
                <td class="tdspan">Фронтотомия с использованием видеоэндоскопической техники (эндоскопическая фронтотомия)</td>
                <td class="tdcenter tdspanp">25 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-15</td>
                <td class="tdspan">Этмоидотомия с использованием видеоэндоскопической техники</td>
                <td class="tdcenter tdspanp">25 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-16</td>
                <td class="tdspan">Эндоскопическая полисинусотомия (более двух пазух)</td>
                <td class="tdcenter tdspanp">45 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-17</td>
                <td class="tdspan">Эндоскопическая лазерная дакриоцисториностомия</td>
                <td class="tdcenter tdspanp">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-18</td>
                <td class="tdspan">Лазерная дакриоцисториностомия</td>
                <td class="tdcenter tdspanp">7 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-19</td>
                <td class="tdspan">Хоанотомия (иссечение атрезии хоан)</td>
                <td class="tdcenter tdspanp">22 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-20</td>
                <td class="tdspan">Пластика ороантрального свища</td>
                <td class="tdcenter tdspanp">26 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-21</td>
                <td class="tdspan">Лазерная коагуляция полипов носа</td>
                <td class="tdcenter tdspanp">9 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-22</td>
                <td class="tdspan">Закрытие перфорации перегородки носа закрытым способом</td>
                <td class="tdcenter tdspanp">40 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-23</td>
                <td class="tdspan">Закрытие перфорации перегородки носа открытым способом</td>
                <td class="tdcenter tdspanp">57 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-24</td>
                <td class="tdspan">Удаление новобразования полости носа под местной анестезией</td>
                <td class="tdcenter tdspanp">7 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-25</td>
                <td class="tdspan">Удаление новообразования полости носа с использованием видеоэндоскопической техники</td>
                <td class="tdcenter tdspanp">25 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">В-26</td>
                <td class="tdspan">Иссечение рубцов полости носа</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>

      <dt class="border-none"><strong class="s">Операции на шее</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">Г-1</td>
                <td class="tdspan">Удаление кисты шеи</td>
                <td class="tdcenter tdspanp">52 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Г-2</td>
                <td class="tdspan">Удаление доброкачественного новообразования в области головы</td>
                <td class="tdcenter tdspanp">16 000</td>
              </tr>              
            </tbody>
          </table>
        </div>
      </dd>

      <dt class="border-none"><strong class="s">Операции в полости рта, глотки и гортани</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">Д-1</td>
                <td class="tdspan">Увулопластика (лечение храпа)</td>
                <td class="tdcenter tdspanp">6 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-1/1</td>
                <td class="tdspan">Лазерная увулопалатинопластика (ЛУПП)</td>
                <td class="tdcenter tdspanp">13 000</td>
              </tr>
               <tr>
                <td class="tdcenter tdspan">Д-2</td>
                <td class="tdspan">Тонзиллотомия</td>
                <td class="tdcenter tdspanp">8 300</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-3</td>
                <td class="tdspan">Тонзиллэктомия</td>
                <td class="tdcenter tdspanp">18 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-4</td>
                <td class="tdspan">Аденотомия</td>
                <td class="tdcenter tdspanp">12 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-5</td>
                <td class="tdspan">Аденотонзиллотомия</td>
                <td class="tdcenter tdspanp">15 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-6</td>
                <td class="tdspan">Аденотонзиллэктомия</td>
                <td class="tdcenter tdspanp">19 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-7</td>
                <td class="tdspan">Аденотомия эндоскопическая шейверная</td>
                <td class="tdcenter tdspanp">18 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-8</td>
                <td class="tdspan">Эндоскопическое удаление новообразования носоглотки</td>
                <td class="tdcenter tdspanp">25 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-9</td>
                <td class="tdspan">Удаление доброкачественного новообразования ротоглотки под местной анестезией с гистоисследованием</td>
                <td class="tdcenter tdspanp">6 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-10</td>
                <td class="tdspan">Удаление доброкачественного новообразования ротоглотки под общей анестезией с гистоисследованием</td>
                <td class="tdcenter tdspanp">18 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-11</td>
                <td class="tdspan">Пластика уздечки языка под местной анестезией</td>
                <td class="tdcenter tdspanp">5 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-12</td>
                <td class="tdspan">Пластика уздечки языка под общей анестезией</td>
                <td class="tdcenter tdspanp">8 700</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-13</td>
                <td class="tdspan">Удаление новообразования гортани микрохирургическое (под общей анестезией)</td>
                <td class="tdcenter tdspanp">15 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-14</td>
                <td class="tdspan">Хордопексия (латерофиксация голосовых складок)</td>
                <td class="tdcenter tdspanp">35 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Д-15</td>
                <td class="tdspan">Двухсторонняя лазерная тонзилэктомия</td>
                <td class="tdcenter tdspanp">25 000</td>
              </tr>              
            </tbody>
          </table>
        </div>
      </dd>

      <dt class="border-none"><strong class="s">Консервативное стационарное  лечение</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">Е-1</td>
                <td class="tdspan">Лечение синусита, гайморита, фронтита 1 койко-день</td>
                <td class="tdcenter tdspanp">3 000</td>
              </tr>              
            </tbody>
          </table>
        </div>
      </dd>

      <dt class="border-none"><strong class="s">Амбулаторное лечение (без госпитализации)</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">Ж-1</td>
                <td class="tdspan">Криовоздействие на заднюю стенку глотки</td>
                <td class="tdcenter tdspanp">7 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Ж-2</td>
                <td class="tdspan">Криодеструкция, лазерная деструкция, УЗД нижних носовых раковин</td>
                <td class="tdcenter tdspanp">7 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Ж-3</td>
                <td class="tdspan">Гальванокаустика сосудов полости носа</td>
                <td class="tdcenter tdspanp">6 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Ж-4</td>
                <td class="tdspan">Промывание наружного слухового прохода (серные пробки)</td>
                <td class="tdcenter tdspanp">300</td>
              </tr>              
              <tr>
                <td class="tdcenter tdspan">Ж-6</td>
                <td class="tdspan">Криодеструкция доброкачественных образований кожи (папилломы, бородавки и др.), один элемент</td>
                <td class="tdcenter tdspanp">2 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Ж-7</td>
                <td class="tdspan">Продувание слуховой трубы по методу Политцера с пневмомассажем</td>
                <td class="tdcenter tdspanp">300</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">Ж-8</td>
                <td class="tdspan">Промывание лакун миндалин</td>
                <td class="tdcenter tdspanp">400</td>
              </tr>                          
            </tbody>
          </table>
        </div>
      </dd>




      <dt class="border-none"><strong class="s">Консультации и манипуляции</strong></dt>
      <dd>
        <div class="indent">
          <table class="table table-condensed" id="tprice">
            <thead>
              <tr>
                <th class="tdcenter tdspan">№</th>
                <th class="tdcenter tdspan">Медицинская услуга</th>
                <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Стоимость, руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdcenter tdspan">З-1</td>
                <td class="tdspan">Профессора</td>
                <td class="tdcenter tdspanp">1 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-2</td>
                <td class="tdspan">Врача – оториноларинголога (доцента, канд.мед.наук)</td>
                <td class="tdcenter tdspanp">500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-3</td>
                <td class="tdspan">Аудиометрическое исследование</td>
                <td class="tdcenter tdspanp">500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-4</td>
                <td class="tdspan">Пластического хирурга</td>
                <td class="tdcenter tdspanp">500</td>
              </tr>              
              <tr>
                <td class="tdcenter tdspan">З-5</td>
                <td class="tdspan">Эндоскопическое исследование полости носа и носоглотки</td>
                <td class="tdcenter tdspanp">700</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-6</td>
                <td class="tdspan">Контрастная дакриоцистография</td>
                <td class="tdcenter tdspanp">2 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-7</td>
                <td class="tdspan">Фиброэндоскопия ЛОР органов</td>
                <td class="tdcenter tdspanp">1 200</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-8</td>
                <td class="tdspan">Врача – оториноларинголога (с 15:00 часов)</td>
                <td class="tdcenter tdspanp">1 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-9</td>
                <td class="tdspan">КСВП</td>
                <td class="tdcenter tdspanp">800</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-10</td>
                <td class="tdspan">Отоакустическая эмиссия</td>
                <td class="tdcenter tdspanp">700</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-11</td>
                <td class="tdspan">Аудиометрическое исследование и консультация врача- сурдолога</td>
                <td class="tdcenter tdspanp">800</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-12</td>
                <td class="tdspan">Исследование вестибулярного анализатора (вестибулометрия)</td>
                <td class="tdcenter tdspanp">2 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-13</td>
                <td class="tdspan">Отомикроскопия (1 ухо)</td>
                <td class="tdcenter tdspanp">3 500</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-14</td>
                <td class="tdspan">Отомикроскопия с лазерной обработкой (1 ухо)</td>
                <td class="tdcenter tdspanp">5 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-15</td>
                <td class="tdspan">Объективное исследование слуха у детей (КСВП, ТР)</td>
                <td class="tdcenter tdspanp">2 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-16</td>
                <td class="tdspan">Исследование слуха у детей (осмотр, ТР, АР)</td>
                <td class="tdcenter tdspanp">800</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-17</td>
                <td class="tdspan">Тимпанометрия</td>
                <td class="tdcenter tdspanp">300</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-18</td>
                <td class="tdspan">Восстановление голоса (1 занятие)</td>
                <td class="tdcenter tdspanp">400</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-19</td>
                <td class="tdspan">Восстановление речи (1 занятие)</td>
                <td class="tdcenter tdspanp">400</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-21</td>
                <td class="tdspan">Вестибулярная гимнастика</td>
                <td class="tdcenter tdspanp">1 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-22</td>
                <td class="tdspan">Аудиометрическое исследование (с 16:00-18:00)</td>
                <td class="tdcenter tdspanp">1 000</td>
              </tr>
              <tr>
                <td class="tdcenter tdspan">З-23</td>
                <td class="tdspan">Санация лакун миндалин (1 процедура)</td>
                <td class="tdcenter tdspanp">1 100</td>
              </tr>                          
            </tbody>
          </table>
        </div>
      </dd>

    </dl>
  </div> 

  <div class="col-md-12 col-sm-12 col-xs-12">
    
  </div> 

</div>