<% provide(:title, 'Цены на термопанели, утепление') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, 'Цены на фасадные термопанели, утепление пенополиуретаном и пеноизолом') %>

<% provide(:cena_sht40, '1250') %>
<% provide(:cena_kvm40, '2015') %>
<% provide(:cena_sht60, '1300') %>
<% provide(:cena_kvm60, '2100') %>

<div class="container">
      
    <div class="col-md-12">
      <h2>Цены на фасадные термопанели, СИП панели,утепление пенополиуретаном и пеноизолом</h2>
      <br>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <strong>Информация!</strong> Выезд на замеры наших специалистов в радиусе 60 км (включая Ижевск) бесплатно
      </div>
    </div>

    
      <div class="col-md-12">
        <div class="block2">
          <div class="block_header clearfix">
            <div class="block_title">
              <h3 class="h3nounder">Пеноизол</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body">
              <h3>Заливка пеноизола - 3000 руб/куб.м (все включено: работы, выезд и т.д.)</h3>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-12">
        <div class="block2">
          <div class="block_header clearfix">
            <div class="block_title">
              <h3 class="h3nounder">Пенополиуретан</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body">
              <h3>Напыление жесткого пенополиуретана (все включено: работы, выезд и т.д.)</h3>
              <br>
              <table class="table table-condensed" id="tprice">
                <thead>
                  <tr>
                    <th class="tdcenter tdspan">Толщина слоя пенополиуретана, см</th>
                    <th class="tdcenter tdspanp"><%= image_tag "stoimost_icon.png" %> Цена, руб/кв.м</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tdcenter tdspan">2</td>
                    <td class="tdcenter tdspanp">300</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan">3</td>
                    <td class="tdcenter tdspanp">450</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan">4</td>
                    <td class="tdcenter tdspanp">600</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan">5</td>
                    <td class="tdcenter tdspanp">750</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan">6</td>
                    <td class="tdcenter tdspanp">900</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan">7</td>
                    <td class="tdcenter tdspanp">1050</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan">8</td>
                    <td class="tdcenter tdspanp">1200</td>
                  </tr>                  
                </tbody>
              </table>
              <br>
              <ul class="itemlist">        
                <li style="margin: 3px;">Плотность пенополиуретана 50-60 кг/куб.м.</li>
                <li style="margin: 3px;">Работы на высоте более 4 метров – плюс 10%.</li>
                <li style="margin: 3px;">Объекты с площадью более 100 кв.м при толщине напыления 5 см – скидка до 10%.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="block2">
          <div class="block_header clearfix">
            <div class="block_title">
              <h3 class="h3nounder">Фасадные термопанели</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body">
              <!-- <h3>Фасадные термопанели (включая стоимость клинкерной плитки и пенополиуретана)</h3> -->
              <br>
              <table class="table table-condensed" id="tpricet">
                <thead>
                  <tr>
                    <th class="tdcenter tdspan" colspan="1" rowspan="2" style="text-align:center">Наименование клинкерной плитки</th>
                    <td class="tdcenter tdspan" colspan="2" rowspan="1" style="text-align:center;border-bottom: 0px;"><strong>Толщина слоя пенополиуретана 40 мм</strong></td>
                    <td class="tdcenter tdspan" colspan="2" rowspan="1" style="text-align:center;border-bottom: 0px;"><strong>Толщина слоя пенополиуретана 60 мм</strong></td>
                    
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan" style="text-align:center">руб/шт</td>
                    <td class="tdcenter tdspan" style="text-align:center">руб/кв.м</td>
                    <td class="tdcenter tdspan" style="text-align:center">руб/шт</td>
                    <td class="tdcenter tdspan" style="text-align:center">руб/кв.м</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tdcenter tdspan" colspan="5" style="text-align:center;">Плитка торговой марки Cerrad (Польша)<%= link_to " выбор цвета клинкерной плитки", klinker_path %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Аляска</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Медовая глазурованная</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Красная</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Колорадо</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Монтана</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Индиана</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Дакота</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Коричневая глазурованная</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Бургонский плюс</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Бургонский плюс рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Кантри бежевая плюс рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Кантри вишня плюс рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Кантри вишня плюс</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Песочная рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Гоби рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Аризона рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Атакама рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Графитовая</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Калахари рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Кремовая рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Неро рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Неро</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Невада рустика</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Серая</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Тара</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Зеленая</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>

                  <tr>
                    <td class="tdcenter tdspan" colspan="5" style="text-align:center;">Плитка торговой марки Paradyz (Польша)<%= link_to " выбор цвета клинкерной плитки ", klinker_path %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Aquarius-Brown</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Cloud-Brown</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Cloud-Brown-Duro</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Cloud-Rosa</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Cloud-Rosa-Duro</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Natural-Brown</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Natural-Brown-Duro</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Natural-Rosa</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Natural-Rosa-Duro</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Semir-Beige</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Semir-Brown</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Semir-Grafit</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Taurus-Brown</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                  <tr>
                    <td class="tdspan">Taurus-Rosa</td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm40) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_sht60) %></td>
                    <td class="tdcenter tdspan"><%= yield(:cena_kvm60) %></td>
                  </tr>
                </tbody>
              </table>
              <br>
              <ul class="itemlist">        
                <li style="margin: 3px;">Стоимость работ по монтажу термопанелей - 600 руб/кв.м.</li>
                <li style="margin: 3px;">Стоимость расходных материалов и вспомогательных инструментов (например, крепеж, затирка, шприцы-нагнетатели) определяется по мере выполнения работ.</li>
                <li style="margin: 3px;">Расходные материалы и вспомогательные инструменты рекомендуем приобретать у нас в целях избежания конструктивных и технологических несоответствий в процессе монтажа.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="block2">
          <div class="block_header clearfix">
            <div class="block_title">
              <h3 class="h3nounder">СИП панели</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body">
              <br>
              <table class="table table-condensed" id="tpricesip">
                <thead>
                  <tr>
                    <td class="tdcenter tdspan" colspan="1" rowspan="2" style="text-align:center">Типоразмер <br> (длина * ширина * толщина, мм)</td>
                    <td class="tdcenter tdspan" colspan="2" rowspan="1" style="text-align:center;border-bottom: 0px;">Стоимость</td>
                    <td class="tdcenter tdspan" colspan="1" rowspan="2">Площадь, кв.м</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan" style="text-align:center">руб/шт</td>
                    <td class="tdcenter tdspan" style="text-align:center">руб/кв.м</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tdcenter tdspan" style="text-align: center;">2500*1250*174</td>
                    <td class="tdcenter tdspan">3695</td>
                    <td class="tdcenter tdspan">1180</td>
                    <td class="tdcenter tdspan">3,125</td>
                  </tr>
                  <tr>
                    <td class="tdcenter tdspan" style="text-align: center;">2800*1250*174</td>
                    <td class="tdcenter tdspan">4130</td>
                    <td class="tdcenter tdspan">1180</td>
                    <td class="tdcenter tdspan">3,5</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <p class="italicp" style="padding-left: 35px;">Общие характеристики производимых СИП панелей:</p>
              <ul class="itemlist">        
                <li style="margin: 3px;">OSB-3 <b>производства Egger</b> в количестве двух листов;</li>
                <li style="margin: 3px;">утеплитель - <b>пенополистирол ПСБ-С 25</b>;</li>
                <li style="margin: 3px;">клеевое соединение - <b>полиуретановый клей "Клейберит"</b>;</li>
                <li style="margin: 3px;">размер паза <b>50 мм</b>;</li>
                <li style="margin: 3px;">толщина утеплителя <b>150 мм</b>;</li>
                <li style="margin: 3px;">толщина обкладки <b>12 мм</b>.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    

</div>