<% provide(:title, "Ринопластика") %>
<div class="container">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Ринопластика</h2>
        <br>    
        <p>Многие годы в нашей стране коррекцией наружного носа занимались почти исключительно косметологические клиники. Лишь изредка при восстановлении носового дыхания у больных с выраженной деформацией, оториноларингологи выполняли простейшие вмешательства, обычно направленные на придание центрального положения смещенной костной пирамиде. Коррекция более тонких дефектов, в частности кончика, крыльев носа оставалась за пределами компетенции ЛОР врачей.</p>
        <p>В последние 10-15 лет ситуация в этой области начала постепенно изменяться. Все больше становится публикаций оториноларингологов об опыте эстетической ринопластики, чаще мы слышим о привлечении ЛОР врачей к работе в косметологических клиниках. Причиной подобной тенденции, на наш взгляд, является необходимость учета дыхательной функции носа при коррекции его формы, с чем оториноларинголог (это очевидно) может справиться лучше любого другого хирурга.</p>
        <p>В настоящее время объем и качественный состав пластических операций, выполняемых при косметических дефектах наружного носа, существенно выросли. По мере совершенствования мастерства хирургов все чаще выполняются сложные вмешательства с применений открытого доступа к структурам наружного носа, использованием трансплантатов и коррекцией хрящей.</p>
        <p>Прогресс в развитии ринопластики в нашей клинике мы связываем с внедрением так называемого открытого доступа, позволяющего произвести коррекцию всех отделов наружного носа и носовой перегородки, точно расположить и прочно фиксировать трансплантаты. При этом все разрезы выполняются внутри носа за исключением 2-3 миллиметрового разреза в области переднего отдела носовой перегородки. Этот разрез через несколько месяцев становится практически неразличимым. При более легких деформациях все разрезы располагаются внутри полости носа.</p>
        <p>При травматической природе деформации костной пирамиды носа, сопровождающейся рубцовыми сращениями кожи с подлежащими костными структурами, мы отдаем предпочтение традиционной остеотомии (срединной, поперечной, латеральной) с использованием эндоназальных разрезов и формированием субпериостального тоннеля по линии предполагаемого хода долота для исключения возможного повреждения кожи.</p>
        <p>Необходимо отметить, что каждый случай эстетической ринопластики требует строго индивидуального творческого подхода и не может быть строго уложен в какую-то схему. Залогом успеха является сочетание глубоких знаний в области теории пластической хирургии и накапливаемый с годами опыт, что позволяет получить предсказуемые результаты.</p>        
        <p>Пластикой носа в Краснодарской ЛОР клинике занимаются в течение десятилетий.</p>
        <br>
        <h3>Архивные фото</h3>
        <br>

        <p class="imgprino"><%= image_tag "327-11.jpg", class: "imgd" %><%= image_tag "328-12.jpg", class: "imgd" %><%= image_tag "329-13.jpg", class: "imgd" %><%= image_tag "330-14.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "331.jpg", class: "imgd" %><%= image_tag "332.jpg", class: "imgd" %><%= image_tag "333.jpg", class: "imgd" %><%= image_tag "334.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "335.jpg", class: "imgd" %><%= image_tag "336.jpg", class: "imgd" %><%= image_tag "337.jpg", class: "imgd" %><%= image_tag "339.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "340.jpg", class: "imgd" %><%= image_tag "341.jpg", class: "imgd" %></p>
        <br>
        <p>Сейчас ежегодно в клинике выполняется около трехсот ринопластик. Некоторые фотографии <b>"до и после"</b> последних лет:</p>
        <p class="imgprino"><%= image_tag "342.jpg", style: "max-height: 412px", class: "imgd" %><%= image_tag "343.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "344.jpg", style: "max-height: 438px", class: "imgd" %><%= image_tag "345.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "346.jpg", class: "imgd" %><%= image_tag "347.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "348.jpg", style: "max-height: 440px", class: "imgd" %><%= image_tag "349.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "350.jpg", style: "max-height: 446px", class: "imgd" %><%= image_tag "351.jpg", class: "imgd" %></p>
        <hr>
        <p class="imgprino"><%= image_tag "352.jpg", style: "max-height: 446px", class: "img-responsive imgd" %></p>


      </div>  
    </div>  
   
</div>