<% provide(:title, 'Фасадные термопанели, утепление: видео наших работ') %>
<% provide(:meta_keywords, '') %>
<% provide(:meta_description, '') %>

<div class="container">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Видеофрагменты выполняемых работ</h2>
        <br>
        <div class="col-md-8 col-md-offset-2" id="videoLayer">      
          <h3>Фасадные термопанели (клинкерная плитка и пенополиуретан)</h3>
          
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/bqd19WGBR3A' %></p>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/1NSQZKeXQd8' %></p>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/wEC6MNcGdis' %></p>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/65cDS3GzC00' %></p>

          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/KEXcAlQnBBg' %></p>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/jeP4PzfA9xc' %></p>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/KI7ESe1oZ_E' %></p>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/rtxCzl3Nzq8' %></p>

          <hr>
          <h3>Заливка пениозола в полость</h3>
          <p align="center"><%= youtube_video 'http://www.youtube.com/embed/oSyvcyMFbzo' %></p>
        </div>        

      </div>  
    </div>     
  
</div>