<footer class="footer" id="footer1">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="footbc">
        <p><%= link_to "Главная", root_path %>&nbsp&nbsp&nbsp<%= link_to "Термопанели", termopanel_path %>&nbsp&nbsp&nbsp<%= link_to "Клинкерная плитка", klinker_path %>&nbsp&nbsp&nbsp<%= link_to "Пеноизол", pi_path %>&nbsp&nbsp&nbsp<%= link_to "Пенополиуретан", ppu_path %>&nbsp&nbsp&nbsp<%= link_to "Прайс-лист", price_path %>&nbsp&nbsp&nbsp<%= link_to "Контакты", contact_path %></p>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <p></p>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <p>Производственная компания «ТЕРМОСИП»</p>
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-12" id="footcontact">        
        <p>Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13 (50 км от Ижевска в направлении Можги)</p>                       
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <p>Телефон: 8-950-162-17-47</p>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p>© 2009-2017 Все права защищены</p>
      </div>
  </div>
</div>

  

  <% if Rails.env.production? %>  
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter24533945 = new Ya.Metrika({id:24533945,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/24533945" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <% end %>

</footer>
