<footer class="footer" id="footer1">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" id="footbc">
        <p><%= link_to "Главная", root_path %>&nbsp&nbsp&nbsp<%= link_to "Термопанели", "#" %>&nbsp&nbsp&nbsp<%= link_to "СИП панели", "#" %>&nbsp&nbsp&nbsp<%= link_to "Пеноизол", "#" %>&nbsp&nbsp&nbsp<%= link_to "Пенополиуретан", "#" %>&nbsp&nbsp&nbsp<%= link_to "Прайс-лист", "#" %>&nbsp&nbsp&nbsp<%= link_to "Контакты", "#" %></p>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <p></p>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <p>Производственная компания «ТЕРМОСИП»</p>
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-12" id="footcontact">        
        <p>Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13 (50 км от Ижевска в направлении Можги)</p>                       
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <p>Телефон: 8-950-162-17-47</p>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p>© 2009-2014 Все права защищены</p>
      </div>
  </div>
</div>

  

  <% if Rails.env.production? %>  
  <!-- Yandex.Metrika counter -->
  
  <!-- /Yandex.Metrika counter -->
  <% end %>

</footer>
