<div class="jumbotron">

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p class="imgprino"><%= image_tag "insulation1.png", class: "img-responsive" %></p>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">      
        <h1>Производственная компания «ТЕРМОСИП»</h1>
        <h2>Сделайте свой ​​дом более теплым и более эффективным!</h2>
        <br>
        <h3 class="h3nounder" style="margin-bottom:12px;">Выезд на замеры в радиусе 60 км (включая Ижевск) бесплатно</h3>
        <h3 class="h3noundertel">Справки по телефону: <%= image_tag "phone.png", style: "max-width:25px" %> 8-950-162-17-47</h3>

        <br>

        <div class="row">
          <div class="col-md-4">
            <div class="pr1">
              <p><b>оперативность</b></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pr2">
              <p><b>цена / качество</b></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pr3">
              <p><b>гарантия</b></p>
            </div>  
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="bttn">
          <!-- <p class="imgprino"><%= image_tag "termopanel_block.png", class: "img-responsive" %></p> -->
          <h2>Производство и монтаж фасадных термопанелей с клинкерной плиткой</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="bttn">
          <!-- <p class="imgprino"><%= image_tag "Insulation3.jpg", class: "img-responsive" %></p> -->
          <h2>Производство и монтаж СИП панелей</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">      
        <div class="bttn">
          <!-- <p class="imgprino"><%= image_tag "Insulation2.jpg", class: "img-responsive" %></p> -->
          <h2>Утепление домов, теплоизоляция сооружений пеноизолом и пенополиуретаном</h2>
        </div>
      </div>
    </div>
    

  </div>
</div> <!-- end jumbotron -->

