<div class="jumbotron">

  <!-- <div class="hidden-xs">
    <p class="imgprino"><%= image_tag "termopanel2.jpg", class: "img-responsive" %></p>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="menu-all">
        <ul class="secondary-menu">
          <li><a href="/ppu">Утепление пенополиуретаном</a></li>
          <li><a href="/pi">Утепление пеноизолом</a></li>
          <li><a href="/termopanel">Фасадные термопанели</a></li>
          <li><a href="/klinker">Клинкерная плитка</a></li>
          <li><a href="/sipanel">СИП панели</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p class="imgprino"><%= image_tag "insulation1.png", class: "img-responsive" %></p>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">      
        <h1>Производственная компания «ТЕРМОСИП»</h1>
        <h2>Сделайте свой ​​дом более теплым и более эффективным!</h2>
        <br>
        <h3 class="h3nounder" style="margin-bottom:12px;">Выезд на замеры в радиусе 60 км (включая Ижевск) бесплатно</h3>
        <h3 class="h3noundertel">Справки по телефону: <%= image_tag "phone.png", style: "max-width:25px" %> 8-950-162-17-47</h3>

        <br>

        <div class="row">
          <div class="col-md-4">
            <div class="pr1">
              <p><b>оперативность</b></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pr2">
              <p><b>цена / качество</b></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pr3">
              <p><b>гарантия</b></p>
            </div>  
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="bttn">
          <!-- <p class="imgprino"><%= image_tag "termopanel_block.png", class: "img-responsive" %></p> -->
          <h2>Производство и монтаж фасадных термопанелей с клинкерной плиткой</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="bttn">
          <!-- <p class="imgprino"><%= image_tag "Insulation3.jpg", class: "img-responsive" %></p> -->
          <h2>Производство и монтаж СИП панелей</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">      
        <div class="bttn">
          <!-- <p class="imgprino"><%= image_tag "Insulation2.jpg", class: "img-responsive" %></p> -->
          <h2>Утепление домов, теплоизоляция сооружений пеноизолом и пенополиуретаном</h2>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 divbase">      
        <h2>Выезд на замеры в радиусе 60 км (включая Ижевск) бесплатно</h2>
      </div>     
      <div class="col-md-6 col-sm-6 col-xs-12 divbase">        
        <h3 class="h3noundertel">Справки по телефонам</h3>
        <h2 style="margin-bottom:8px;"><%= image_tag "phone.png", style: "max-width:25px" %> 8-950-162-17-47</h2>
        <h2><%= image_tag "marker_boll.png", style: "max-width:30px" %> Адрес производства: Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13 (50 км от Ижевска в направлении Можги)</h2>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="h3nounder" style="margin-bottom:12px;">Клиника предоставляет услуги пациентам всех возрастных категорий и жителям других регионов</h3>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">      
        <p class="imgprino"><%= image_tag "ears.png", class: "img-responsive img-thumbnail" %></p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <p class="imgprino"><%= image_tag "throat.png", class: "img-responsive img-thumbnail" %></p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">      
        <p class="imgprino"><%= image_tag "nose.png", class: "img-responsive img-thumbnail" %></p>
      </div>
    </div> -->    

    <div class="row">
      
      <div class="col-md-4 col-sm-4 col-xs-12">       
        <div class="block1">
          <div class="block_header clearfix">
            <div class="block_title">
              <h3 class="h3nounder">Термопанели</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body">
              <ul class="mhul">
                <li>Производство и монтаж фасадных термопанелей с клинкерной плиткой</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">        
        <div class="block1">
          <div class="block_header clearfix">
            <div class="block_title">
                <h3 class="h3nounder">СИП панели</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body">          
              <ul class="mhul">
                <li>Производство и монтаж СИП панелей</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">        
        <div class="block1">
          <div class="block_header clearfix">
            <div class="block_title">
              <h3 class="h3nounder">Утепление</h3>
            </div>
          </div>
          <div class="best">
            <div class="block_body"> 
              <ul class="mhul">
                <li>Утепление домов, теплоизоляция сооружений пеноизолом и пенополиуретаном</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="row">    
      <div class="col-md-12 col-sm-12 col-xs-12">      
        <h3 class="h3nounder">Функционирует аудиометрический кабинет (3 врача сурдолога)</h3>
        <p class="imgprino"><%= image_tag "audilogist.png", class: "img-responsive img-thumbnail" %></p>
      </div>      
    </div> -->

  </div>
</div> <!-- end jumbotron -->

<div class="intro-marketing">
  <div class="container">    
    <div class="row" id="div_border_bottom">
      <!-- <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="cental">Предоставляемые услуги</h2>
      </div> -->
      
      <div class="col-md-4 col-sm-6 col-xs-12">     
        <h3>Слуховые аппараты</h3>
        <p class="imgprino"><%= image_tag "ha_main.jpg", class: "img-responsive img-thumbnail" %></p>
        <ul class="mhul1">
          <li><span class="glyphicon glyphicon-ok"></span> <span>консультации высококвалифицированных специалистов по вопросам слухопротезирования</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span>полное аудиологическое обследование детей и взрослых</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span>подбор слуховых аппаратов, регулировка СА на компьютере</span></li>
        </ul>
        <p style="text-align:center;"><a role="button" href="/hearaids" class="btn btn-clear">Подробнее</a></p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">      
        <h3>Круговая подтяжка лица (Лифтинг)</h3>
        <p class="imgprino"><%= image_tag "facelift_main.jpg", class: "img-responsive img-thumbnail" %></p>
        <p><span>Подтяжка лица сегодня уже не является некой диковинкой, как это было совсем недавно. Как и другие пластические процедуры, она доступна всем, желающим сохранить свой внешний вид неизмененным в течение многих лет. Современные методики позволяют нашим пациентам выглядеть более естественно, так как они выглядели 5-10 лет назад.</span></p>
        <p style="text-align:center;"><a role="button" href="/lifting" class="btn btn-clear">Подробнее</a></p>
      </div> 
      <div class="col-md-4 col-sm-6 col-xs-12">      
        <h3>Корекция формы носа (Ринопластика)</h3>
        <p class="imgprino"><%= image_tag "rino_main.jpg", class: "img-responsive img-thumbnail" %></p>
        <p><span>Пластикой носа в ЛОР КЛИНИКЕ занимаются в течение десятилетий.</span></p>
        <p><span>Залогом успеха является сочетание глубоких знаний в области теории пластической хирургии и накапливаемый с годами опыт, что позволяет получить предсказуемые результаты.</span></p>
        <p style="text-align:center;"><a role="button" href="/rinoplastic" class="btn btn-clear">Подробнее</a></p>
      </div>

    </div>
  </div>
</div>



<div class="intro-otdelenie">
  <div class="container">   
    <div class="row" id="div_border_bottom">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="cental">Приоритетные направления работы клиники</h2>
      </div> 

      
      <div class="col-md-6 col-sm-6 col-xs-12">        
        
          <p class="imgprino"><%= image_tag "oto_rino_throat.jpg", class: "img-responsive img-thumbnail" %></p>
          <h3>Отделение оториноларингологии</h3>
          <ul class="mhul-ot">
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Аденоиды", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Восстановление проходимости слезных путей", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Врач вестибулолог (лечение головокружения)", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Искривления носовой перегородки", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Лазерная хирургия", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Лечение храпа", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Микрохирургия гортани", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Синуситы (Гайморит)", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Слух: Имплантируемые слуховые аппараты костной проводимости", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Слух: Кохлеарная имплантация", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Слухоулучшающая хирургия", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Слух: Подбор слуховых аппаратов", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Эндоскопическая хирургия носа и околоносовых пазух", "#" %></span></li>
          </ul>
        
      </div>       
      <div class="col-md-6 col-sm-6 col-xs-12">
              
          <p class="imgprino"><%= image_tag "plastic_surg_ban.jpg", class: "img-responsive img-thumbnail" %></p>
          <h3>Отделение пластической хирургии</h3>
          <ul class="mhul-ot">
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Дермабразия", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Контурная пластика", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Липосакция", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Лицевые протезы (нос, ушные раковины, глаза)", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Операции на веках", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Пластика подбородка", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Пластика ушных раковин", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Подтяжка лица", "" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Ринопластика", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Удаление новообразований кожи", "#" %></span></li>
            <li><span class="glyphicon glyphicon-ok"></span> <span><%= link_to "Устранение морщин", "#" %></span></li>            
          </ul>
                             
      </div>

    </div>
  </div>
</div>

