<div class="jumbotron">

  <div class="container">   
   
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p class="imgprino"><%= image_tag "insulation10.png", class: "img-responsive" %></p>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">      
        
      <div class="col-md-12">
        <table style="margin: auto;">
          <tr>
            <td style="vertical-align:middle">
              <h1>Производственная компания «ТЕРМОСИП»</h1>
              <h2>Сделайте свой ​​дом более теплым и более эффективным!</h2>
            </td>
            <td style="vertical-align:middle"><%= image_tag "house_like.png", class: "img-responsive img-center" %></td>
          </tr>
        </table>
      </div>  
        <br>


      <div class="col-md-12">
        <table style="margin: auto;">
          <tr>
            <td style="vertical-align:middle">
              <h3 class="h3nounder" style="margin-bottom:12px;">Выезд на замеры в радиусе 60 км (включая Ижевск) бесплатно</h3>
            </td>
            <td style="vertical-align:middle"><%= image_tag "delivery_.png", class: "img-responsive img-center" %></td>
          </tr>
        </table>
      </div>

      <h3 class="h3noundertel">Справки по телефону: <%= image_tag "phone.png", style: "max-width:25px" %> 8-950-162-17-47</h3>
     

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="bttn">
          <%= image_tag "sipanel_.png", class: "img-responsive img-center" %>
          <h2>Производство и монтаж фасадных термопанелей с клинкерной плиткой</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="bttn">
          <%= image_tag "termopanel_.png", class: "img-responsive img-center" %>
          <h2>Клинкерная плитка производства Cerrad и Paradyz</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">      
        <div class="bttn">
          <%= image_tag "uteplenie_.png", class: "img-responsive img-center" %>
          <h2>Утепление домов, теплоизоляция сооружений пеноизолом и пенополиуретаном</h2>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
          <div class="col-md-4">
            <div class="pr1">
              <p><b>оперативность</b></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pr2">
              <p><b>цена / качество</b></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pr3">
              <p><b>гарантия</b></p>
            </div>  
          </div>
        </div>
    
   <!--  <div class="col-md-12">
      <table style="margin: auto;">
          <tr>
            <td style="vertical-align:middle"><%= image_tag "house_like.png", class: "img-responsive img-center" %></td>
            <td style="vertical-align:middle"><h2>Сделайте свой ​​дом более теплым и более эффективным!</h2></td>
          </tr>
        </table>
    </div> -->
  </div>
</div> <!-- end jumbotron -->

