<div class="container">
    <div class="row">
      <div class="menu-all">
        <ul class="secondary-menu">
          <li style="<%= 'background: #4e5c6e;' if current_page?(ppu_path) %>"><a href="/ppu">Утепление пенополиуретаном</a></li>
          <li style="<%= 'background: #4e5c6e;' if current_page?(pi_path) %>"><a href="/pi">Утепление пеноизолом</a></li>
          <li style="<%= 'background: #4e5c6e;' if current_page?(termopanel_path) %>"><a href="/termopanel">Фасадные термопанели</a></li>
          <li style="<%= 'background: #4e5c6e;' if current_page?(klinker_path) %>"><a href="/klinker">Клинкерная плитка</a></li>
          <li style="<%= 'background: #4e5c6e;' if current_page?(sipanel_path) %>"><a href="/sipanel">СИП панели</a></li>
        </ul>
      </div>
    </div>
  </div>